<!DOCTYPE html>
<html>
	<head>
		<title>Ingredients in Juicy Juice Juices</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/style.css">
	</head>
	<body>
		<div class="container-fluid">
			<div id="ingredients">
				<h1>Ingredients</h1>
				<div class="list-group">
					{% for ingredient in map %}
						<a
							{% if ingredient == clicked %}
								class="list-group-item active"
								style="cursor:pointer;"
							{% else %}
								class="list-group-item"
								href="/{{ ingredient }}"
							{% endif %}
						>{{ ingredient }}</a>
					{% endfor %}
				</div>
			</div>
			<div id="flavors">
				<h1>Flavors</h1>
				<div>
					{% for flavor in map[clicked] %}
						<div class="flavor">
							<img src="static/images/{{ flavor }}.jpg"></img>
							<div>{{ flavor }}</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</body>
</html>